@page "/AdEdit/{adId}"
@using BuisnesLogicLayer.DTO
@using BlazorFront.Services
@inject NavigationManager NavigationManager
@inject IAdServices adServices
@inject Blazored.LocalStorage.ILocalStorageService localStorage

<main id="mainContainer" class="d-grid">

    <EditForm Model="@ad" OnValidSubmit="SubmitValidForm">
        <FluentValidationValidator />

        <div id="container-2" class="d-flex justify-content-between" style="background-color: #d1c52200;margin-top:50px;">

            <!-----------------------------------First column--------------------------------------------------->
            <div id="contParams1" style="background-color: #70000000;width: 400px;height: 400px;">
                <div class="d-grid">

                    <div class="d-flex justify-content-between">
                        <div class="textParam">Ціна:</div>
                        <div class="paramOfAd" style="margin-left: 20px;">
                            <input @bind="ad.Price" type="number" class="form-control" placeholder="">
                            <ValidationMessage For="(() => ad.Price)" style="color:red;font-size:8pt;position:absolute;" />
                        </div>
                    </div>
                    <!-------------------------------------------->
                    <hr style="height:1px;background-color:white; width: 100%;">
                    <!-------------------------------------------->
                    <div class="textParam">Місцзнаходження</div>
                    <div class="d-flex justify-content-between">
                        <div class="textParam">Область:</div>
                        <div class="paramOfAd" style="margin-left: 20px;">
                            <input @bind="ad.Region" type="text" class="form-control" placeholder="">
                            <ValidationMessage For="(() => ad.Region)" style="color:red;font-size:8pt;position:absolute;" />
                        </div>
                    </div>
                    <br>
                    <div class="d-flex justify-content-between">
                        <div class="textParam">Район:</div>
                        <div class="paramOfAd" style="margin-left: 20px;">
                            <input @bind="ad.District" type="text" class="form-control" placeholder="">
                            <ValidationMessage For="(() => ad.District)" style="color:red;font-size:8pt;position:absolute;" />
                        </div>
                    </div>
                    <br>
                    <div class="d-flex justify-content-between">
                        <div class="textParam">Місто:</div>
                        <div class="paramOfAd" style="margin-left: 20px;">
                            <input @bind="ad.City" type="text" class="form-control" placeholder="">
                            <ValidationMessage For="(() => ad.City)" style="color:red;font-size:8pt;position:absolute;" />
                        </div>
                    </div>
                    <br />
                    <div class="d-flex justify-content-between">
                        <div class="textParam">Вулиця:</div>
                        <div class="paramOfAd" style="margin-left: 20px;">
                            <input @bind="ad.Street" type="text" class="form-control" placeholder="">
                            <ValidationMessage For="(() => ad.Street)" style="color:red;font-size:8pt;position:absolute;" />
                        </div>
                    </div>
                    <br />
                    <div class="d-flex justify-content-between">
                        <div class="textParam">Номер Будинку:</div>
                        <div class="paramOfAd" style="margin-left: 20px;">
                            <input @bind="ad.HouseNumber" type="text" class="form-control" placeholder="">
                            <ValidationMessage For="(() => ad.HouseNumber)" style="color:red;font-size:8pt;position:absolute;" />
                        </div>
                    </div>
                    <!-------------------------------------------->
                    <hr style="height:1px;background-color:white; width: 100%;">
                    <!-------------------------------------------->
                    <div class="d-flex justify-content-between">
                        <div class="textParam">Площа:</div>
                        <div class="paramOfAd" style="margin-left: 20px;">
                            <input @bind="ad.AreaOfHouse" type="number" class="form-control" placeholder="">
                            <ValidationMessage For="(() => ad.AreaOfHouse)" style="color:red;font-size:8pt;position:absolute;" />
                        </div>
                    </div>

                </div>
            </div>

            <!-----------------------------------Second column--------------------------------------------------->

            <div id="contParams2" style="background-color: rgba(0, 255, 255, 0); width: 400px;height: 400px;">

                <div class="d-grid">


                    <div class="d-flex justify-content-between">
                        <div class="textParam">Кількість поверхів:</div>
                        <div class="paramOfAd" style="margin-left: 20px;">
                            <input @bind="ad.FloorAmount" type="number" class="form-control" placeholder="">
                            <ValidationMessage For="(() => ad.FloorAmount)" style="color:red;font-size:8pt;position:absolute;" />
                        </div>
                    </div>

                    <!-------------------------------------------->
                    <hr style="height:1px;background-color:white; width: 100%;">
                    <!-------------------------------------------->
                    <div class="d-flex justify-content-between">
                        <div class="textParam">Кількість кімнат:</div>
                        <div class="paramOfAd" style="margin-left: 20px;">
                            <input @bind="ad.RoomNumber" type="number" class="form-control" placeholder="">
                            <ValidationMessage For="(() => ad.RoomNumber)" style="color:red;font-size:8pt;position:absolute;" />
                        </div>
                    </div>
                    <!-------------------------------------------->
                    <hr style="height:1px;background-color:white; width: 100%;">
                    <!-------------------------------------------->
                    <div class="d-flex justify-content-between">
                        <div class="textParam">Рік будинку:</div>
                        <div class="paramOfAd" style="margin-left: 20px;">
                            <input @bind="ad.HouseYear" type="number" class="form-control" placeholder="">
                            <ValidationMessage For="(() => ad.HouseYear)" style="color:red;font-size:8pt;position:absolute;" />
                        </div>
                    </div>
                    <!-------------------------------------------->
                    <hr style="height:1px;background-color:white; width: 100%;">
                    <!-------------------------------------------->
                    <div class="d-flex justify-content-between">
                        <div class="textParam">Вид Будинку:</div>
                        <div class="paramOfAd" style="margin-left: 20px;">
                            <select class="form-control" @bind="ad.HouseType">
                                <option>Дім</option> <!--Flase-->
                                <option>Квартира</option><!--True-->
                            </select>
                        </div>
                    </div>
                    <!-------------------------------------------->
                    <hr style="height:1px;background-color:white; width: 100%;">
                    <!-------------------------------------------->
                    <div class="d-flex justify-content-between">
                        <div class="textParam">Басейнн:</div>
                        <div class="paramOfAd" style="margin-left: 20px;">
                            <select class="form-control" @onchange="@(() => ad.Pool = !ad.Pool)">
                                <option>Нема</option> <!--Flase-->
                                <option>Є</option><!--True-->
                            </select>
                        </div>
                    </div>
                    <!-------------------------------------------->
                    <hr style="height:1px;background-color:white; width: 100%;">
                    <!-------------------------------------------->
                    <div class="d-flex justify-content-between">
                        <div class="textParam">Балкон:</div>
                        <div class="paramOfAd" style="margin-left: 20px;">
                            <select class="form-control" @onchange="@(() => ad.Balkon = !ad.Balkon)">
                                <option>Нема</option> <!--Flase-->
                                <option>Є</option> <!--True-->
                            </select>
                        </div>
                    </div>
                    <!-------------------------------------------->
                    <hr style="height:1px;background-color:white; width: 100%;">
                    <!-------------------------------------------->
                    <div class="d-flex justify-content-between">
                        <div class="textParam">Вид угоди:</div>
                        <div class="paramOfAd" style="margin-left: 20px;">
                            <select class="form-control" @onchange="@(() => ad.PurchaseOportunity = !ad.PurchaseOportunity)">
                                <option>Оренда</option> <!--Flase-->
                                <option>Покупка</option> <!--True-->
                            </select>
                        </div>
                    </div>

                </div>
            </div>

        </div>
        <br /> <br /> <br />
        <div id="container-3" class="d-grid">
            <!-------------------------------------------->
            <hr style="height:1px;background-color:white; width: 100%;">
            <!-------------------------------------------->

            <div class="textParam">Опис</div>
            <textarea @bind="ad.Description" class="form-control" id="OutputText" rows="5"></textarea>
        </div>
        <div class="d-flex justify-content-center">
            <button type="submit" class="btn btn-success" style="margin-top: 10px;">Редагувати</button>
        </div>
    </EditForm>
</main>
@code {

        [Parameter] public string adId { get; set; }
        AdEditDTO ad = new AdEditDTO();

    protected override async Task OnInitializedAsync()
    {
        ad = await adServices.GetAdForEdit(int.Parse(adId));
    }
    async Task UpdateAd()
    {
        await adServices.UpdateAd(ad);
        NavigationManager.NavigateTo($"MyAds/{ad.OwnerId}");
    }

    async Task SubmitValidForm()
    {
        await this.UpdateAd();
    }
}
