@page "/LogIn"

<div class="container mt-5 mb-5">
    <div class="row d-flex align-items-center justify-content-center">
        <div class="col-md-6">
            <div class="card px-5 py-5">
                <h5 class="mt-3">Вхід</h5> <small class="mt-2 text-muted"></small>
                <div class="form-input"> <i class="fa fa-envelope"></i> <input type="text" class="form-control" placeholder="Почта"> </div>
                <div class="form-input"> <i class="fa fa-lock"></i> <input type="text" class="form-control" placeholder="Пароль"> </div>
                <button class="btn btn-primary mt-4 signup">Ввійти</button>
            </div>
        </div>
    </div>
</div>

@code {

}
