@page "/MyAds"
    <div class="d-flex justify-content-center" id="liveNew">Мої оголошення</div>

    <div class="d-flex justify-content-center">
        <NavLink href="CreateAd"><a class="btn btn-success">Додати оголошення</a></NavLink>
    </div>

    <br>
    <br>

    <div class="favAds" style="margin: 0px 300px 0px 300px;">

        <div class="ad" style="border: rgb(104, 104, 104) 3px solid;">

            <div id="forImg" class="d-flex justify-content-center" style="margin: 0px 0px 0px 0px; border-right:rgb(104, 104, 104) 3px solid;">
                <img class="imgFromAd" src="https://fomag.ru/upload/iblock/84e/84edefd1381ca02526b2ecafff65ea70.jpg" width="100%" height="100%">
            </div>

            <div class="favInfo">
                <div class="d-flex justify-content-end" style="border-bottom: #1C6EA4 1px solid;">
                    <img src="star (2).png" style="width: 30px;">
                    <img src="compare (1).png" style="width: 30px;">
                </div>

                <div class="favInfoTxt" >
                    <div style="margin-left: 10px;"><font color="gray">Площа:</font> 300 квм</div>
                </div>

                <div class="favInfoTxt">
                    <div style="margin-left: 10px;"><font color="gray">Кількість кімнат:</font> 5</div>
                </div>

                <div class="favInfoTxt">
                    <div style="margin-left: 10px;"><font color="gray">Рік будинку:</font> 1958</div>
                </div>

                <div class="favInfoTxt">
                    <div style="margin-left: 10px;"><font color="gray">Вид угоди:</font> продажа</div>
                </div>

                <div class="favInfoTxt">
                    <div style="margin-left: 10px;"><font color="gray">Балкон:</font> є</div>
                </div>

                <div class="favInfoTxt">
                    <div style="margin-left: 10px;"><font color="gray">Ціна:</font> <b>15000</b> грн</div>
                </div>
            </div>


        </div>
    </div>
    @code {

    }
