<nav class="navbar navbar-dark bg-dark">
    <NavLink href="Index">
        <span class="navbar-brand"  style="margin-left: 1%;">
            <img src="logo1.png" style="width: 200px;margin: 0px 0px 0px 0px;">
        </span>
    </NavLink>
    <div style="margin-left: 20%;margin-right: 20%;">
        <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Пошук" aria-label="Search" style="width: 400px;">
            <button class="btn btn-outline-light" type="submit">Пошук</button>
        </form>
    </div>
    <div class="nav-item dropdown" style="margin-right: 10px;">
        <a style="color: white;" class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Ім'я Прізвище
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li> <NavLink href="ProfileInfo"><span class="dropdown-item" >Профіль</span></NavLink></li>
            <li> <NavLink href="MyAds"><span class="dropdown-item">Мої оголошення</span></NavLink></li>
            <li> <NavLink href="Favorites"><span class="dropdown-item">Обрані</span></NavLink></li>
            <li> <NavLink href="Compares"><span class="dropdown-item">Порівняння</span></NavLink></li>
        </ul>
    </div>
</nav>

<nav class="navbar navbar-dark bg-dark" style="margin-top: 5px; padding: 0px;">
    <div class="nav-item dropdown" style="margin:0px 0px 0px 0px;">

        <a style="color: white;" class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="menu.png" style="width: 20px;margin:0px 5px 0px 0px;">Каталог
        </a>

        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li> <NavLink href="FindAds"><span class="dropdown-item">Дома</span></NavLink></li>
            <li> <NavLink href="FindAds"><span class="dropdown-item">Квартири</span></NavLink></li>
        </ul>

    </div>

    <div class="d-flex">
        <img src="gps.png" style="width: 25px;">
        <div style="color: white;">Cherinvtsy</div>
    </div>

    <div class="d-flex" style="margin-right: 30px;">
        <div style="color: rgb(124, 124, 124); cursor: pointer;">Eng</div>
        <div style="color: #700000;white-space: pre;"> | </div>
        <div style="color: rgb(124, 124, 124); cursor: pointer;">Rus</div>
        <div style="color: #700000;white-space: pre;"> | </div>
        <div style="color: white; cursor: pointer;">Ukr</div>
    </div>
</nav>
   
