@using BuisnesLogicLayer.DTO
@using BlazorFront.Services
@inject NavigationManager NavigationManager
@inject IUserServices userServices
@inject Blazored.LocalStorage.ILocalStorageService localStorage
<nav class="navbar navbar-dark bg-dark">
    <NavLink href="/">
        <span class="navbar-brand" style="margin-left: 1%;">
            <img src="logo1.png" style="width: 200px;margin: 0px 0px 0px 0px;">
        </span>
    </NavLink>
    <div style="display:none">
        <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Пошук" aria-label="Search" style="width: 400px;">
            <button class="btn btn-outline-light" type="submit">Пошук</button>
        </form>
    </div>
    <div class="nav-item dropdown">

        @if (user.Id != null)
        {
            <a style="color: white;" class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <span style="margin-right:5px">@user.Name</span><span>@user.Surname</span>
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li> <NavLink class="hrefstyle" href="ProfileInfo"><span class="dropdown-item">Профіль</span></NavLink></li>
                <li> <NavLink class="hrefstyle" href="@goMyAdsLink"><span class="dropdown-item">Мої оголошення</span></NavLink></li>
                <li> <NavLink class="hrefstyle" href="Favorites"><span class="dropdown-item">Обрані</span></NavLink></li>
                <li> <NavLink class="hrefstyle" href="Compares"><span class="dropdown-item">Порівняння</span></NavLink></li>
                <li @onclick="LogOut"> <NavLink class="hrefstyle" href="/"><span class="dropdown-item">Вийти</span></NavLink></li>
            </ul>
        }
        else
        {
            <NavLink href="Registration" class="hrefstyle"><span style="margin-right:5px">Зареєструватись</span></NavLink>
            <NavLink href="LogIn" class="hrefstyle"><span>Ввійти</span></NavLink>
        }

    </div>
</nav>

<nav class="navbar navbar-dark bg-dark" style="margin-top: 5px; padding: 0px;">
    <div class="nav-item dropdown" style="margin:0px 0px 0px 0px;">

        <a style="color: white;" class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="menu.png" style="width: 20px;margin:0px 5px 0px 0px;">Каталог
        </a>

        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li> <NavLink class="hrefstyle" href="FindAds"><span class="dropdown-item">Дома</span></NavLink></li>
            <li> <NavLink class="hrefstyle" href="FindAds"><span class="dropdown-item">Квартири</span></NavLink></li>
        </ul>

    </div>

    <div class="d-flex">
        <img src="gps.png" style="width: 25px;">
        <div style="color: white;">Cherinvtsy</div>
    </div>

    <div class="d-flex" style="margin-right: 30px;">
        <div style="color: rgb(124, 124, 124); cursor: pointer;">Eng</div>
        <div style="color: #700000;white-space: pre;"> | </div>
        <div style="color: rgb(124, 124, 124); cursor: pointer;">Rus</div>
        <div style="color: #700000;white-space: pre;"> | </div>
        <div style="color: white; cursor: pointer;">Ukr</div>
    </div>
</nav>

@code
{       
        UserProfileDTO user = new UserProfileDTO();
        string goMyAdsLink = "";
        //string goMyProfileLink = "";
    protected override async Task OnInitializedAsync()
    {
        if (await localStorage.ContainKeyAsync("savedUser"))
        {
            user = await localStorage.GetItemAsync<UserProfileDTO>("savedUser");
            goMyAdsLink = $"MyAds/{user.Id}";
          //  goMyProfileLink = $"ProfileInfo/{user.Id}";
        }
    }

    private async Task LogOut()
    {
        await localStorage.ClearAsync();
        NavigationManager.NavigateTo("/", true);
    }
}